* {
	margin: 0;
	padding: 0;
}

body {
	padding: 10px;
	font-family: sans-serif;
	background: rgb(238, 241, 241);
}

.container {
	background: white;
	border-radius: 10px;
	box-shadow: 0 0 5px rgb(220, 220, 220);
	width: 500px;
	margin: 0 auto;
	padding-bottom: 5px;
}

h1 {
	background: rgb(22, 70, 255);
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	box-shadow: 0 3px rgb(208, 201, 201);
	color: white;
	padding:10px 0;
	font-size:24px;
	text-align:center;
}

#for_button {
	text-align:center;
	margin: 20px 0;
}

form ul {
	list-style: none;
}

li {
	margin: 10px 20px;
}

input {
	width: 100%;
	box-sizing: border-box;
	padding: 10px 10px;
	margin: 5px 0;
	border: 1px solid #d5d9da;
	border-radius: 5px;
}

#submit {
	width: 50%;
	padding: 5px;
	font-size: 20px;
	background: rgb(49, 250, 129);
}

#pswd_info {
	margin: 20px;
}

.mistake {
	color: rgb(255, 121, 57);
	font-weight: bold;
}

